@import "./color_schemes/light";

$link-color: #1769c2;
$btn-primary-color: #2f7fe7;
$body-heading-color: #17324d;
$sidebar-color: #f6faff;
$search-background-color: #ffffff;
$feedback-color: darken(#f6faff, 3%);
