<footer class="site-footer"> 
  Connect: 
  <a href="https://twitter.com/CPALconf">
    <img src={{ site.baseurl }}/assets/images/twitter.svg alt="Twitter icon" width=20px>
  </a>
  <a href="https://www.linkedin.com/company/conference-on-parsimony-and-learning-cpal/">
    <img src={{ site.baseurl }}/assets/images/linkedin.svg alt="linkedin icon" width=20px>
  </a>
  <br>
  Contact:
  <a href="mailto:pcs@cpal.cc">pcs@cpal.cc</a>
  <br>
  Credits:
  <a href="https://github.com/just-the-docs/just-the-docs">theme</a>
  <!-- <a href="https://wordasimage.github.io/Word-As-Image-Page/">logo</a>-->
  <br>
</footer>

