<h1> Conference Sponsors </h1>

<h2 class="no_anchor">Local Host and Main Sponsor</h2>

<div class="sponsor">
    <div>
  <a href="https://datascience.hku.hk/" target="_blank">
    <img src="/assets/images/hku-ids-logo.png" alt="HKU IDS Logo">
  </a>
    </div>
</div>


<h2 class="no_anchor">Platinum Sponsor</h2>


<div class="sponsor">
    <div>
  <a href="https://www.amazon.science/" target="_blank">
    <img src="/assets/images/amazon-logo.png" alt="Amazon Science Logo">
  </a>
    </div>
</div>


<h2 class="no_anchor">Gold Sponsors</h2>


<div class="sponsor">
    <div>
  <a href="https://www.huawei.com/" target="_blank">
    <img src="/assets/images/huawei-logo.png" alt="Huawei Logo">
  </a>
    </div>

    <div>
  <a href="https://www.jdcloud.com/" target="_blank">
    <img src="/assets/images/jd-logo.png" alt="JD Logo">
  </a>
    </div>
</div>



<h2 class="no_anchor">Silver Sponsors</h2>


<div class="sponsor">
    <div>
  <a href="https://ai.tencent.com/" target="_blank">
    <img src="/assets/images/tencent-logo.png" alt="Tencent AI Logo">
  </a>
    </div>

    <div>
  <a href="https://www.baidu.com/" target="_blank">
    <img src="/assets/images/baidu-logo.png" alt="Baidu Logo">
  </a>
    </div>
</div>



<h2 class="no_anchor">Rising Star Award Sponsor</h2>

<div class="sponsor">
  <a href="https://neuralmagic.com/" target="_blank">
    <img src="/assets/images/neural-magic-logo.png" alt="Neural Magic Logo">
  </a>
</div>


<h2 class="no_anchor">Tailored Wellness Sessions Sponsor</h2>

<div class="sponsor">
  <a href="https://www.brainwavescience.com/" target="_blank">
    <img src="/assets/images/brainwave-science-logo.png" alt="Brainwave Science, Inc. Logo">
  </a>
</div>
