<h1> Conference Sponsors </h1>

<h2 class="no_anchor">Conference Hosts</h2>

<div class="sponsor">
    <div>
  <a href="https://ellis.eu/research/sites/institute-tubingen" target="_blank">
    <img src="/assets/images/ellis_logo.png" alt="ELLIS Institute Tübingen Logo">
  </a>
    </div>
</div>

<div class="sponsor">
    <div>
  <a href="https://is.mpg.de/" target="_blank">
    <img src="/assets/images/mpg_is_logo.jpg" alt="Max Planck Institute for Intelligent Systems Logo">
  </a>
    </div>
</div>

<div class="sponsor">
    <div>
  <a href="https://tuebingen.ai/" target="_blank">
    <img src="/assets/images/TUEAI.png" alt="Tübingen AI Center Logo">
  </a>
    </div>
</div>

<h2 class="no_anchor">Diamond Sponsor</h2>

<div class="sponsor">
    <div>
  <a href="https://datascience.hku.hk/" target="_blank">
    <img src="/assets/images/ids-logo-h-c.PNG" alt="HKU Musketeers Foundation Institute of Data Science Logo">
  </a>
    </div>
</div>

<h2 class="no_anchor">Silver Sponsor</h2>

<div class="sponsor">
    <div>
  <a href="https://cispa.de/" target="_blank">
    <img src="/assets/images/cispa_logo.png" alt="CISPA Helmholtz Center for Information Security Logo">
  </a>
    </div>
</div>

<h2 class="no_anchor">Bronze Sponsor</h2>

<div class="sponsor">
    <div>
  <a href="https://www.optml-group.com/" target="_blank">
    <img src="/assets/images/msu.png" alt="OPTML Group MSU Logo">
  </a>
    </div>
</div>
