<h1> Conference Sponsors </h1>

<h2 class="no_anchor">Conference Host</h2>

<div class="sponsor">
    <div>
  <a href="https://datascience.stanford.edu/" target="_blank">
    <img src="/assets/images/SDS_logo_large.png" alt="Stanford Data Science Logo">
  </a>
    </div>
</div>

<h2 class="no_anchor">Platinum Sponsor</h2>

<div class="sponsor">
    <div>
  <a href="https://datascience.hku.hk/" target="_blank">
    <img src="/assets/images/ids-logo-h-c.png" alt="HKU IDS Logo">
  </a>
    </div>
</div>
